:root{
    --primary: #3acbf7;
}

.btn{
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background: var(--primary);
    color: #fff;
}

.btn--outline{
    background: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 12px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}